/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.center{
  width: 80%;
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
body{
  background-color:#f5f8fa;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: dodgerblue;
}
/* #f5f8fa */
/* header--------------------------------------------------------------- */
.nav-1-container{
  position: fixed;
  top: 0;
  padding: 18px 0 11px;
  background-color: #f5f8fa;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid grey;
}

.sticky-nav-img{
  width: 25px;
  height: auto;
}
.nav2-container{
  background-color: white;
  margin-top: 88px;
  padding: 27px 0;
}
 .inline-block{
  display: inline-block;
}

.li-world{
  float: left;
  padding: 12px;
  font-size: 20px;
}
#li-world-2{
  border-right: 1px solid black;
}
#li-world-1{
  padding-left: 1px;
  padding-right: 3px;
}
.li-log-in{
  float: left;
  font-size: 20px;
}
.log-in{
  margin-left: 48%;
}
#li-sticky-nav-img{
 padding: 12px 15px 12px 0;
}
#li-log-in{
 padding: 11px;
 background-color: white;
 color:  #ff7a59;
 border: 1px solid  #ff7a59;
 margin-right: 25px;
}
#li-free-hub{
  padding: 12px;
  color: white;
  background-color:  #ff7a59;
}
.navigazione{
  margin-left: 50%;
}
.li-nav{
  float: left;
  padding: 0 12px;
  font-size: 20px;
}
#li-nav-last{
  padding-right: 0;
}
/* JUMBOTRON---------------------------------------------------- */
.jumbotron{
  background-image: url("immagini/jumbotron.png");
  background-size: cover;
  height: 110vh;
}
.jumbotron-txt{
  max-width: 30%;
  margin-left: 10%;
  padding-top:8%;
  font-size: 140%;
}
.jumbotron-h2{
 padding-bottom: 3%;
}
.jumbotron-p{
 padding-bottom: 6%;
}
.jumbotron-link{
 padding: 3%;
 background-color: #ff7a59;
}
.jumbotron-link:hover{
  color: white;
}
/* CUBO--------------------------------------------------------- */
.cubo{
  text-align: center;
  padding: 20vh 0 15vh;
}

.img-cubo{
  width: 20%;
  height: auto;
}
/* FREE CRM---------------------------------- */
.freecrm{
  background-color: white;
}
.freecrm-img{
  text-align: center;
  float: left;
  width: 40%;
}
.bookimg{
  width: 50%;
  height: auto;
  padding-top: 8%;
}
.freecrm-txt{
  float: left;
  width: 60%;
  background-color: red;
  height: 250px;
}
/* TRE COLONNE---------------------------------------------------------- */
.colonna{
 float: left;
 width: 24%;
 background-color: white;
 text-align: center;
 padding-bottom: 2%;
}
.spunta{
  width: 7%;
  height: auto;
  margin-right: 7%;
}
.col-li{
  padding: 2% 0;
}
.colonna-img{
  padding: 10% 0;
}
.col-p{
  padding: 5% 12%;
  text-align: left;
}
.hr-col{
  width: 80%;
  margin: 0 auto;
  color: black;
}
.h4-col{
  padding: 5% 0;
}
.ul-col{
 text-align: left;
 padding:  3% 12% 6%;
 font-size: 120%;
}
.get-started{
  background-color: #ff7a59;
  padding: 5%;
  width: 40%;
  margin: 0 auto;
}
#colonna-img-1{
 width: 50%;
 height: auto;
}
#colonna-img-2{
  width: 62%;
  height: auto;
}
#colonna-img-3{
  width: 45%;
  height: auto;
}
.tre-colonne{
  margin-top: 4%;
  margin-bottom: 4%;
}
#colonna-sinistra{
  margin-left: 10%;
}
#colonna-centrale{
  margin-left: 4%;
  margin-right: 4%;
}
/* AZZURRA----------------------------------------------------- */
.azzurra{
  padding-bottom: 8%;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
  color: white;
  font-size: 20px;
}
.azzurra-txt{
  padding-top: 8%;
  padding-bottom: 6%;
}
.azzurra-p{
  padding-top: 2%;
}
.col-tab{
  float: left;
  width: 25%;
  padding: 3% 0;
  border-right: 1px solid white;
  text-align: center;
}
.col-tab-img{
  width: 17%;
  height: auto;
}
.riga2{
  border-top: 1px solid white;
}
.no-border{
  border-right: none;
}
/* LOGHI-------------------------------------------------------- */
.loghi{
  background-color: white;
}
.loghi-wrapper{
  background-color: white;
}
.loghi-txt{
  float: left;
  background-color: red;
  height: 323px;
  width: 30%;
}
.marchi{
  float: left;
  background-color: pink;
  height: 323px;
  width: 70%;
}
/* STARTGROWING-------------------------------------- */
.startgrowing{
  background-color: white;
  padding: 3% 0;
}
.startgrowing-wrapper{
  background-color: white;
}
.faccia{
  width: 60%;
  height: auto;
}
.startgrowing-txt{
  float: left;

  text-align: left;
  width: 50%;
}
.startgrowing-img{
  float: left;
  text-align: right;
  width: 50%;
}
.startgrowing-txt-div{
  max-width: 70%;
  margin-top: 8%;
  font-size: 120%;
}
.startgrowing-p{
  padding: 8% 0;
}
.startgrowing-btn{
  background-color: #ff7a59;
  padding: 5%;
  margin-top: 5%;
}
/* FOOTER------------------------------------------------------ */
footer{
  background-color: #33475b;
  color: white;
}
.ul-footer{
  float: left;
  width: 25%;
  padding-top: 10%;

}
.li-footer{
  padding: 3% 0;
  color: white;
}
.a-footer:hover{
  color: dodgerblue;
  cursor: pointer;
}
.icone-contact{
 padding: 4%;

}
.white-contact{
  background-color: white;
  padding: 1%;
  color: black;
  width: 20%;
  text-align: center;
  margin-left: 70%;
}
.languages{
  background-color: yellow;
  padding: 4% 0;
  border-bottom: 2px solid green;
}
.final{
  background-color: yellow;
  height: 90px;

}
