/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.center{
  width: 80%;
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
body{
  background-color: #f5f8fa;
}
/* header--------------------------------------------------------------- */
.nav-1-container{
  position: fixed;
  top: 0;
  padding: 7vh 0;
  background-color: #f5f8fa;
  width: 100%;

}
.nav2-container{
  background-color: white;
  margin-top: 18vh;
  padding: 7vh 0;
}
 .inline-block{
  display: inline-block;
}

.li-world{
  float: left;
}
.li-log-in{
  float: left;
}
.li-nav{
  float: left;
}
/* JUMBOTRON---------------------------------------------------- */
.jumbotron{
  background-image: url("immagini/jumbotron.png");
  background-size: cover;
  height: 100vh;
}
/* CUBO--------------------------------------------------------- */
.cubo{
  text-align: center;
  padding: 20vh 0 15vh;
}

.img-cubo{
  width: 20%;
  height: auto;
}
/* FREE CRM---------------------------------- */
.freecrm{
  background-color: white;
}
.freecrm-img{
  text-align: center;
  float: left;
  width: 40%;
}
.bookimg{
  width: 50%;
  height: auto;
  padding-top: 8%;
}
.freecrm-txt{
  float: left;
  width: 60%;
  background-color: red;
  height: 250px;
}
/* TRE COLONNE---------------------------------------------------------- */
.colonna{
 float: left;
 width: 24%;
 background-color: white;
 text-align: center;
 padding-bottom: 2%;
}

.colonna-img{
  padding: 10% 0;
}
.col-p{
  padding: 5% 12%;
  text-align: left;
}
.hr-col{
  width: 80%;
  margin: 0 auto;
  color: black;
}
.h4-col{
  padding: 5% 0;
}
.ul-col{
 text-align: left;
 padding:  3% 12% 6%;
}
.get-started{
  background-color: orange;
  padding: 5%;
  width: 40%;
  margin: 0 auto;
}
#colonna-img-1{
 width: 50%;
 height: auto;
}
#colonna-img-2{
  width: 62%;
  height: auto;
}
#colonna-img-3{
  width: 45%;
  height: auto;
}
.tre-colonne{
  margin-top: 4%;
  margin-bottom: 4%;
}
#colonna-sinistra{
  margin-left: 10%;
}
#colonna-centrale{
  margin-left: 4%;
  margin-right: 4%;
}
/* AZZURRA----------------------------------------------------- */
.azzurra{
  height: 100vh;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
  color: white;
  font-size: 20px;
}
.azzurra-txt{
  padding-top: 8%;
  padding-bottom: 6%;
}
.azzurra-p{
  padding-top: 2%;
}
.col-tab{
  float: left;
  width: 25%;
  height: 100px;
  background-color: red;
  border-right: 1px solid white;
}
.riga2{
  border-top: 1px solid white;
}
.no-border{
  border-right: none;
}
/* LOGHI-------------------------------------------------------- */
.loghi{
  background-color: white;
}
.loghi-wrapper{
  background-color: white;
}
.loghi-txt{
  float: left;
  background-color: red;
  height: 323px;
  width: 30%;
}
.marchi{
  float: left;
  background-color: pink;
  height: 323px;
  width: 70%;
}
/* STARTGROWING-------------------------------------- */
.startgrowing{
  background-color: white;
}
.startgrowing-wrapper{
  background-color: white;
}
.faccia{
  width: 60%;
  height: auto;
}
.startgrowing-txt{
  float: left;

  text-align: left;
  width: 50%;
}
.startgrowing-img{
  float: left;
  text-align: right;
  width: 50%;
}

/* FOOTER------------------------------------------------------ */
footer{
  background-color: #33475b;
  color: white;
}
.ul-footer{
  float: left;
  width: 25%;
  padding-top: 10%;
  background-color: red;
}
.li-footer{
  padding: 3% 0;
}
.icone-contact{
  height: 76px;
  background-color: orange;
}
.languages{
  background-color: yellow;
  padding: 5% 0;
  border-bottom: 2px solid green;
}
.final{
  background-color: yellow;
  height: 90px;

}
